*, *:after, *:before {
  box-sizing: border-box;
}

:root {
  --green: #67d7a7;
  --red: #fb7871;
  --ghost-white: #FAFAFF;
  --grey: #a9a9a9;
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);
  --item-bg: #3B3B3B;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  min-width: 320px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: calc(520px - 20px);
  padding: 0 10px;
  width: 100%;
  margin: 100px auto;
}

.header {
  margin-bottom: 50px;
}

.header__search {
  position: relative;
  display: flex;
}

.header__icon {
  display: flex;
  position: absolute;
  top: 23px;
  left: 15px;
}

.header__icon svg {
  width: 24px;
  fill: var(--grey);
}

.search-input {
  width: 100%;
  padding: 20px 45px;
  min-height: 35px;
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  outline: 4px solid transparent;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
  transition: all .3s ease;
}

.search-input:focus, .search-input:focus-visible {
  border: 1px solid var(--green);
  outline: 4px solid rgba(103, 215, 167, 0.2);
}

.results__item {
  background-color: var(--item-bg);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 12px;
}

.results__thumbnail {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.results__thumbnail-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid var(--green);
}

.results__thumbnail-placeholder {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
}
.results__thumbnail-placeholder svg {
  fill: grey;
  width: 28px;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title svg {
  fill: var(--green);
  width: 55px;
  margin-right: -5px;
}

.results__title {
  color: var(--ghost-white);
  font-size: 1.15em;
  text-decoration: none;
  margin-left: 15px;
  flex: 1;
}

.results__extract {
  font-size: .9em;
}

.results__views {
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-size: .7em;
}

.results__views--green {
  color: #0be881;
}
.results__views--red {
  color: var(--red);
}

.results__error {
  text-align: center;
  color: var(--red);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.results__error svg {
  fill: var(--red);
}

.results__views svg{
  width: 14px;
  height: 14px;
  margin-right: 4px;
}